.title-cards {
    margin-top: 50px;
    margin-bottom: 10px;
}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}